
<div align="center">
<h1 align="center">This is another project by Boadzie Daniel </h1>
<%= image_tag("me.JPG", :alt => "me", class:"img-circle", :size => "200x180") %>
<h4><i class="fa fa-email"></i>Email: boadziedaniel43@gmail.com</h4>
</div>
